
@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: OpenSans-Light;
  src: url('../fonts/Open_Sans/OpenSans-Light.ttf');
}

@font-face {
  font-family: OpenSans-Bold;
  src: url('../fonts/Open_Sans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url('../fonts/Open_Sans/OpenSans-SemiBold.ttf');
}


.container {max-width: 1200px;}


.contact100-form {
  width: 100%;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 500px;
  max-width: calc(100% - 10px);
  position: relative;
  background-color: transparent;
  height: 50px;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 25px;
}

/*---------------------------------------------*/
.input100 {
  display: block;
  width: 100%;
  background: transparent;
}

input.input100 {
  height: 100%;
  padding: 0 38px 0 38px;
}


/*------------------------------------------------------------------
[ Focus Input ]*/

.focus-input100 {
  position: absolute;
  display: block;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  top: -2px;
  left: -2px;
  pointer-events: none;
  border: 2px solid #4272d7;
  border-radius: 25px;
  visibility: hidden;
  opacity: 0;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  -webkit-transform: scaleX(1.1) scaleY(1.2);
  -moz-transform: scaleX(1.1) scaleY(1.2);
  -ms-transform: scaleX(1.1) scaleY(1.2);
  -o-transform: scaleX(1.1) scaleY(1.2);
  transform: scaleX(1.1) scaleY(1.2);
}

.input100:focus + .focus-input100 {
  visibility: visible;
  opacity: 1;

  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}


/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 15px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  font-family: OpenSans-Regular;
  color: #c80000;
  font-size: 14px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}



@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/*==================================================================
    TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT TEXT
==================================================================*/

/*==================================================================
[ Color ]*/
.cl0 {color: #fff;}




/*//////////////////////////////////////////////////////////////////
[ S-Text 0 - 15 ]*/
.s1-txt1 {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
}


/*//////////////////////////////////////////////////////////////////
[ M-Text 16 - 25 ]*/

/*---------------------------------------------*/
.m2-txt1 {
  font-family: OpenSans-Regular;
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
}

.m2-txt2 {
  font-family: OpenSans-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1;
}

/*//////////////////////////////////////////////////////////////////
[ L-Text >= 26 ]*/
.l1-txt1 {
  font-family: OpenSans-Bold;
  font-size: 48px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
}

.l1-txt2 {
  font-family: OpenSans-Regular;
  font-size: 70px;
  color: #fff;
  line-height: 1;
}
.size1 {
  width: 100%;
  min-height: 100vh;
}

.size2 {
  min-width: 160px;
  height: 50px;
}

.wsize1 {
  max-width: 100%;
  width: 790px;
}

.wsize2 {
  width: 100px;
}

.learnmore {
  font-family: OpenSans-SemiBold;
  font-size: 20px;
  color: #fff;
  line-height: 3;
  border: 1px solid white;
  width: 25%;
  margin: auto;
}


/*//////////////////////////////////////////////////////////////////
[ Height ]*/




/*//////////////////////////////////////////////////////////////////
[ Background ]*/
.bg0 {background-color: #fff;}
.bg1 {background-color: rgba(255,255,255,0.8);}

.bg-img1 {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#equisat {
  background-position: center;
  background-repeat: no-repeat;
  height: 30%;
  width: 30%;
}




/* .bor1 {
  border: 2px solid rgba(255,255,255,0.35);
}

.where1 {
  margin: 20px 5px 0px 5px;
}

.placeholder0::-webkit-input-placeholder { color: #fff;}
.placeholder0:-moz-placeholder { color: #fff;}
.placeholder0::-moz-placeholder { color: #fff;}
.placeholder0:-ms-input-placeholder { color: #fff;} */
